.jumbotron{
    background: transparent;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 15px;
    }   

h1 {
    color: rgb(10, 37, 10);
    font-family: 'Lobster Two', cursive;
    float: right;
    }
p{
    float:right;
}
